body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("images/diamond.jpg");
  background-repeat: repeat;

}

#container {
	top: 30px;
	font-size: 0;
	height:700px;
	width:700px;
}

.grid {
	border:none;
	outline:1px solid #000;
	display:inline-block;
  width: 55px;
  height: 55px;
  background-image: url("images/floor.png");
  background-size: cover;
}


.active {
  background-image: url("images/head.jpeg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
}

h1 {
  font-size: 50px;
  text-align: right;
  color: yellow;
}


.wall {
  background-image: url("images/red_wall.jpg");
  background-size: cover;
}


.crate {
  background-image: url("images/crate.png");
  background-size: cover;
}

.hole {
  background-image: url("images/black_hole2.jpg");
  background-size: cover;
}
