#container {
	top: 30px;
	font-size: 0;
	height:600px;
	width:600px;
}

.grid {
	border:none;
	outline:1px solid #000;
	display:inline-block;
  width: 60px;
  height: 60px;
  background-color: white;
}


.active {
  background-image: url("images/droopy_detective.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
